@model TheatreUZ.Models.Role

@{
    ViewBag.Title = "Role details";
}

<h2>Role details</h2>

<div>
    <h4>Role</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditRole", new { id = Model.ID }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-primary" })
</p>
