@model IEnumerable<TheatreUZ.Models.Role>

@{

    ViewBag.Title = "Registered roles";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Custom/RolesAdmin.js")"></script>

}

<h2>Registered roles</h2>

<p>
    @Html.ActionLink("Add new", "AddRole", null, new { @class = "btn btn-sm btn-success", @style = "display:block;float:right;margin:10px", @datatoggle = "tooltip", @title = "Қаторни ўчириш" })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditRole", new { id = item.ID }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Details", "GetRole", new { id = item.ID }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Delete", "DeleteRole", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
