<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - THEATRE.UZ</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="nav">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <img id="navlogo" src="~/Content/Images/masks.png" alt="THEATRE.UZ" />
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>

        <div class="nav-links">
            <a href="Spectacles">Home</a>
            <a href="#">About theatre</a>
            <a href="#">Actors</a>
            <a href="#">Contacts</a>
        </div>
        <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
            <li class="nav-item">
                <span class="currenttime">Current time:</span>
                <span id="time" class="currenttime">17.07.2019 00:00:00</span>
            </li>
        </ul>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - THEATRE.UZ</p>
        </footer>
    </div>
    @Scripts.Render("~/Scripts/knockout-3.5.0.js")
    @Scripts.Render("~/Scripts/Custom/ko.simpleGrid.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
