@model IEnumerable<TheatreUZ.Models.Notification>

@{
    ViewBag.Title = "Registered notifications";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Custom/NotificationsAdmin.js")"></script>
}

<h2>Registered notifications</h2>

<p>
    @Html.ActionLink("Add new", "AddNotification", null, new { @class = "btn btn-sm btn-success", @style = "display:block;float:right;margin:10px", @datatoggle = "tooltip", @title = "Қаторни ўчириш" })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Message)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Message)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RegDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditNotification", new { id = item.ID }, new { @class = "btn btn-sm btn-primary" })
                    @Html.ActionLink("Details", "GetNotification", new { id = item.ID }, new { @class = "btn btn-sm btn-info" })
                    @Html.ActionLink("Delete", "DeleteNotification", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
