@model TheatreUZ.Models.SpectaclePageModel
@{
    ViewBag.Title = "Spectacles";
    int row = (int)Math.Ceiling((double)Model.PageInfo.PageSize / 3);
    int col = row == 0 ? 0 : Model.PageInfo.PageSize / row;
    int element = 0;
}

@Styles.Render("~/Content/Card.css")

<div class="container-fluid">

    @for (int i = 0; i < row; i++)
    {
        <div class="row">
            @for (int j = 0; j < 3; j++)
            {
                <div class="col-4">
                    <div class="my-2 bg-white shadow-1 blue-hover" style="width: 100%; height: 400px; overflow: hidden; border-radius: 5px;">
                        <img src="~/Content/Images/scene3.jpg" class="d-block w-full">
                        <div class="px-2 py-2">
                            <div class="row">
                                <div class="col-6">
                                    <div class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px">
                                        @Model.Spectacles.ElementAt(element).Genre.Name
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="mb-0 small font-weight-medium text-uppercase mb-1 text-muted lts-2px" style="display: block; float: right">
                                        @Model.Spectacles.ElementAt(element).PlayDate.ToString("dd-MM-yyyy HH:mm")
                                    </div>
                                </div>
                            </div>

                            <h6 class="ff-serif font-weight-normal text-black card-heading mt-0 mb-1" style="line-height: 1.25;">
                                @Model.Spectacles.ElementAt(element).Name
                            </h6>
                        </div>

                        <div class="container-fluid card-container">
                            <div class="row">
                                <div class="col-6">
                                    @Html.ActionLink("Read more", "SpectacleReadMore", new { id = Model.Spectacles.ElementAt(element).ID }, new { @class = "text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link" })
                                </div>
                                <div class="col-6">
                                    @Html.ActionLink("To book", "ToBook", new { id = Model.Spectacles.ElementAt(element++).ID }, new { @class = "text-uppercase d-inline-block font-weight-medium lts-2px ml-2 mb-2 text-center styled-link" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                if (element == Model.Spectacles.Count)
                {
                    i = Model.Spectacles.Count;
                    break;
                }
            }
        </div>
    }
</div>

<br />

<center>
    @Html.PageLinks(Model.PageInfo, s => Url.Action("Index", new { id = s }))
</center>
