@model TheatreUZ.Models.SpectacleReadModel

@{
    ViewBag.Title = "Spectacle details";

    var userID = (string)Session["UserID"];
    var spectacleID = Model.Spectacle.ID;
}
@Scripts.Render("~/bundles/jquery")
<div>
    <h4>Spectacle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Content(@Model.Image)" style="width: 400px; height: auto" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.PlayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.PlayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.TicketsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.TicketsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remain)
        </dd>
    </dl>

    <p>
        @if (Model.Remain == 0)
        {
            @Html.ActionLink("Sold out", "", null, new { @class = "btn btn-sm btn-outline-primary" })
        }
        else
        {
            @Html.ActionLink("To book", "ToBook", new { id = Model.Spectacle.ID }, new { @class = "btn btn-sm btn-primary" })
        }

        @Html.ActionLink("Back to main", "Index", null, new { @class = "btn btn-sm btn-primary" })
    </p>

    <div id="bookDiv" class="container-fluid" hidden="hidden">

        @using (Html.BeginForm("ToBook", "Home", FormMethod.Post))
        {
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">Amount:</label>
                    <div class="col-md-10">
                        <input id="amount" type="number" value="2" class="form-control-sm" />
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        <button id="confirm" class="btn btn-sm btn-success" style="margin-top:10px">Confirm</button>
                    </div>
                </div>
            </div>
        }


    </div>
</div>
