@model TheatreUZ.Models.SpectacleReadModel

@{
    ViewBag.Title = "Spectacle details";
}

<div>
    <h4>Spectacle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Content(@Model.Image)" style="width: 400px; height: auto" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.PlayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.PlayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.TicketsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.TicketsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remain)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("To book", "ToBook", new { id = Model.Spectacle.ID }, new { @class = "btn btn-sm btn-success" })
    @Html.ActionLink("Back to main", "Index", null, new { @class = "btn btn-sm btn-primary" })
</p>
