@model TheatreUZ.Models.SpectacleReadModel

@{
    ViewBag.Title = "Spectacle details";

    var userID = (string)Session["UserID"];
    var spectacleID = Model.Spectacle.ID;
}
@Scripts.Render("~/bundles/jquery")
<div>
    <h4>Spectacle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            <img src="@Url.Content(@Model.Image)" style="width: 400px; height: auto" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Genre.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Genre.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.PlayDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.PlayDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Cost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Cost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.TicketsCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.TicketsCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remain)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remain)
        </dd>
    </dl>

    <p>
        @if (Model.Remain == 0)
        {
            @Html.ActionLink("Sold out", "", null, new { @class = "btn btn-sm btn-outline-primary" })
        }
        else
        {
            <button id="bookBtn" class="btn btn-sm btn-primary">To book</button>
        }

        @Html.ActionLink("Back to main", "Index", null, new { @class = "btn btn-sm btn-primary" })
    </p>

    <div id="bookDiv" class="container-fluid" hidden="hidden">

        @if (TheatreUZ.Security.TAuth.IsLogged())
        {
            <div class="row">
                <div class="col-3">
                    Amount
                </div>
            </div>

            <div class="row">
                <div class="col-3">
                    <input id="amountTxt" type="number" class="form-control-sm" style="width:100%; margin-left:0" />
                </div>
                <div class="col-2">
                    <button id="confirmBtn" class="btn btn-sm btn-success" style="width:50%; margin-left:0;margin-top:10px">Confirm</button>
                </div>
            </div>

        }
        else
        {
            <p>Please sign up or log in for booking</p>
        }

    </div>
</div>

<script type="text/javascript">
    var hidden = true;
    $('#bookBtn').click(function () {
        if (hidden) {
            $('#bookDiv').removeAttr('hidden');
        }
        else {
            $('#bookDiv').attr('hidden', 'hidden');
        }

        hidden = !hidden;
    });

    $('#confirmBtn').click(function () {

        var sale = {
            UserID: '@Session["UserID"]',
            SpectacleID: '@Model.Spectacle.ID',
            Amount: $('#amountTxt').val()
        }

        $.ajax('@Url.Content("~/Home/ToBookConfirm")', {
            type: "GET",
            data: "saleStr=" + JSON.stringify(sale),
            success: function (data) {
                if (data.Success) {
                    alert('Booking was successful');
                    location.href = '@Url.Content("~/Home")';
                }
                else {
                    alert(data.Message);
                }
            },
            error: function () {
                alert('Data sending error');
            }
        });

    });
</script>