
@{
    ViewBag.Title = "Registered states";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Custom/StatesAdmin.js")"></script>

}

<h2>Registered states</h2>

<p>
    @Html.ActionLink("Add new", "AddState", null, new { @class = "btn btn-sm btn-success", @style = "display:block;float:right;margin:10px", @datatoggle = "tooltip" })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Added date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody data-bind="foreach: viewModel.states">
        <tr>
            <td data-bind="text: Name"></td>
            <td data-bind="text: RegDate"></td>
            <td>
                <button class="btn btn-sm btn-danger">
                    Delete
                </button>
            </td>
        </tr>
    </tbody>
</table>


@*@model IEnumerable<TheatreUZ.Models.State>

    @{
        ViewBag.Title = "GetAll";
    }

    <h2>GetAll</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "GetState", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }

    </table>*@
