@model TheatreUZ.Models.Sale

@{
    ViewBag.Title = "Sale details";
}

<div>
    <h4>Sale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Spectacle.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spectacle.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegDate)
        </dd>

    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "EditSale", new { id = Model.ID }, new { @class = "btn btn-sm btn-primary" })
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-sm btn-primary" })
</p>

