@model IEnumerable<TheatreUZ.Models.Sale>

@{
    ViewBag.Title = "Registered sales";
}

@section Scripts
{
    <script src="@Url.Content("~/Scripts/Custom/SalesAdmin.js")"></script>

}

<h2>Registered sales</h2>

<p>
    @Html.ActionLink("Add new", "AddSale", null, new { @class = "btn btn-sm btn-success", @style = "display:block;float:right;margin:10px", @datatoggle = "tooltip", @title = "Қаторни ўчириш" })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spectacle.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State.Name)
            </th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spectacle.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSale", new { id = item.ID }, new { @class = "btn btn-sm btn-primary" })
                @Html.ActionLink("Details", "GetSale", new { id = item.ID }, new { @class = "btn btn-sm btn-info" })
                @Html.ActionLink("Delete", "DeleteSale", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>
